# Auto detect text files and perform LF normalization
* text=auto

# Overwrite settings for some known file extensions
*.java	text diff=java
*.html	text diff=html
*.css	text
*.js	text
*.sql	text
*.md	text

# Custom for Visual Studio
*.cs		text diff=csharp
*.sln		merge=union eol=crlf
*.csproj	merge=union
*.vbproj	merge=union
*.fsproj	merge=union
*.dbproj	merge=union

# Standard to msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
