.settings/
bin/
etc/
target/
*.releaseBackup
.DS_Store
.checkstyle
.checkstyle-rules.xml
.classpath
.project
.wtpmodules
.idea
*.iml
hs_err_pid*.log
release.properties
server.pid
system.out
Thumbs.db
velocity.log*
