<?xml version="1.0"?>
<project name="rdf2go-sesame2" basedir=".">
	
	<!-- WARNING: before editing the settings.xml for a project please refer to buildmanager/settings-example.xml  
				  to see the proper use of all possible settings for projects managed by the buildmanager.
				  
		The buildmanager currently can handle 5 groups of capabilities: 
	
		1.) generic and required settings for the project (name, version, classes for which to generate java doc
		    and a list of all libraries used by the project)
	    2.) filesets and paths needed to build just the sources of the project
	    3.) data files (files needed at runtime by the project) 
	    4.) files which have to be included as documentation 
	    5.) tests to compile and run  (and how these tests are named)
	
	The groups are marked below (although some might be empty).
	
	If you want to add new capabilities to this project please refer to buildmanager/settings-example.xml
	to see how to configure them.
	-->

	<!-- 
	==========================================================================================================
	1.) generic and required settings for the project
	==========================================================================================================
	-->

	<property name="version-number" value="3.1" />
	<property name="product-name" value="rdf2go-sesame2" />
	<property name="product-title" value="RDF2Go Sesame 2 Adaptor" />
	<property name="creator" value="AIFB Karlsruhe, Max Voelkel (Max Völkel), Sebastian Gerke"/>
	<property name="product-www" value="./../${product-name}-www"/>

	<property name="javadoc-packages" value="
		org.ontoware.rdf2go.impl.sesame2,
		org.ontoware.rdf2go.impl.sesame2.reflection,	
	" />
	
	<fileset dir="lib" id="all-libs">
		<include name="aifbcommons.jar"/>
		<include name="commons-codec-1.2.jar"/>
		<include name="commons-httpclient-3.0.1.jar"/>
		<include name="commons-logging-1.0.3.jar"/>
		<include name="junit-4.1.jar"/>
		<include name="log4j-1.2.12.jar"/>
		<include name="rdf2go.jar"/>

		<!-- yay for big projects with lots of small jars ! :) -->
		<include name="openrdf-console-2.0-alpha4.jar"/>
		<include name="openrdf-model-2.0-alpha4.jar"/>
		<include name="openrdf-protocol-rest-2.0-alpha4.jar"/>
		<include name="openrdf-querylanguage-api-2.0-alpha4.jar"/>
		<include name="openrdf-querylanguage-serql-2.0-alpha4.jar"/>
		<include name="openrdf-querylanguage-sparql-2.0-alpha4.jar"/>
		<include name="openrdf-querylogic-2.0-alpha4.jar"/>
		<include name="openrdf-querymodel-2.0-alpha4.jar"/>
		<include name="openrdf-queryresult-api-2.0-alpha4.jar"/>
		<include name="openrdf-queryresult-binary-2.0-alpha4.jar"/>
		<include name="openrdf-queryresult-sparqljson-2.0-alpha4.jar"/>
		<include name="openrdf-queryresult-sparqlxml-2.0-alpha4.jar"/>
		<include name="openrdf-repository-2.0-alpha4.jar"/>
		<include name="openrdf-rio-api-2.0-alpha4.jar"/>
		<include name="openrdf-rio-n3-2.0-alpha4.jar"/>
		<include name="openrdf-rio-ntriples-2.0-alpha4.jar"/>
		<include name="openrdf-rio-rdfxml-2.0-alpha4.jar"/>
		<include name="openrdf-rio-trix-2.0-alpha4.jar"/>
		<include name="openrdf-rio-turtle-2.0-alpha4.jar"/>
		<include name="openrdf-runtime-2.0-alpha4.jar"/>
		<include name="openrdf-sail-api-2.0-alpha4.jar"/>
		<include name="openrdf-sail-http-2.0-alpha4.jar"/>
		<include name="openrdf-sail-inferencer-2.0-alpha4.jar"/>
		<include name="openrdf-sail-memory-2.0-alpha4.jar"/>
		<include name="openrdf-sail-nativerdf-2.0-alpha4.jar"/>
		<include name="openrdf-util-2.0-alpha4.jar"/>
	</fileset>

	
	<!-- 
	==========================================================================================================
    2.) filesets and paths needed to build just the sources of the project
	==========================================================================================================
	-->
	
	<fileset id="src" dir=".">
		<include name="src/**"/>
		<!-- examples, ...-->
	</fileset>

   	<path id="src-path">
   		<pathelement location="src"/> 
   		<!-- examples, ...-->
   	</path>

	<!-- main class path -->
	
	<path id="src-classpath" 
		description="define the classpath needed to build and run the sources">
        <pathelement path="${classpath}"/>
        <fileset refid="all-libs" />
        <pathelement location="temp/build"/>
	</path>

	<!-- 
	==========================================================================================================
    3.) data files (files needed at runtime by the project) 
	==========================================================================================================
	-->
	
	<fileset id="data" dir=".">
		<!-- this fileset has to be defined for the generic build --> 
		<include name="_NONE_"/>
	</fileset>

	<fileset id="jarfile-includes" dir="." 
		description="define files which need to be included in the base directory of the jar file">
		<include name="_NONE_"/>
	</fileset>	
	
	<!-- 
	==========================================================================================================
    4.) files which have to be included as documentation 
	==========================================================================================================
	-->
	
	<fileset id="documentation" dir="." 
			description="define the location of documentation for the project
			(javadoc must not be included here, because it is handled automatically)">
				<include name="_NONE_"/>
	</fileset>	
	
	<!-- 
	==========================================================================================================
    5.) tests to compile and run  (and how these tests are named)
	==========================================================================================================
	-->
	
	<fileset id="test-src" dir=".">
			<include name="test-src/**"/>
	</fileset>
	
  	<path id="test-src-path" 
   		description="define the location of the test sources as a path (fileset and path are different things for ant)">
   		<pathelement location="test-src"/> 
   	</path>

	<path id="test-src-classpath" 
		description="define the classpath needed to build and run the test">
		<path refid="src-classpath"/>
		<pathelement location="temp/build-test"/>
		<pathelement location="test-data"/>
	</path>
	
	<fileset id="test-cases"
		description="define the test cases and suits to be run "
		dir="temp/build-test"
		includes="**/AllTests.class"
	/>	
	

</project>